<%- include('header.ejs') %>
<a href="/" class="link">Go Back</a>
<h1><%= name %></h1>
<h4><%= episode %></h4>
<p><%= summary %></p>
<h3><%= released %></h3>
<h3><%= genres %></h3>
<h1><%= url %></h1>
<iframe src="<%= url %>" title="description" width="600" height="400"></iframe>
<%- include('footer.ejs') %>
