<%- include('header.ejs') %>
<a href="/" class="link">Go Back</a>
<h1><%= name %></h1>
<h4><%= episode %></h4>
<p><%= summary %></p>
<h3><%= released %></h3>
<h3><%= genres %></h3>
<div class="container">
  <iframe
    allowfullscreen="true"
    class="responsive-iframe"
    src="<%= url %>"
  ></iframe>
  <%- include('footer.ejs') %>
</div>
